In [1]:
import pandas as pd

In [2]:
coded = pd.read_csv('../data/unified.csv')
coded = coded[coded.level == 1]
coded.sort('name_en', inplace=True)
coded.head()

,code,name_zh,name_en,name_pinyin,alpha,level,latitude,longitude
1120,340000,安徽省,Anhui,NaN,AH,1,31.863255,117.2757034
0,110000,北京市,Beijing,NaN,BJ,1,39.908173,116.3979471
2464,500000,重庆市,Chongqing,NaN,CQ,1,29.554914,106.548425
1258,350000,福建省,Fujian,NaN,FJ,1,26.078590,119.2978134
3196,620000,甘肃省,Gansu,NaN,GS,1,36.068039,103.7500534

In [3]:
map_data = pd.read_hdf('../data/china_provinces_from_admin_1_shp.hdf', 'df')
map_data.head()

,postal,woe_name,xs,ys
FID,,,,
633,AH,Anhui,"(116.8389978365808, 116.84773115386969, 116.90...","(34.38921906191021, 34.389761664269344, 34.400..."
631,BJ,Beijing,"(117.07273034133209, 117.0876131526249, 117.09...","(40.673538316340256, 40.675011094686226, 40.67..."
630,CQ,Chongqing,"(109.3359932795662, 109.57308475126024, 109.59...","(31.705248521402126, 31.730104885232265, 31.73..."
632,FJ,Fujian,"[117.43482506600012, 117.44778172300019, 117.4...","[23.750718492000075, 23.742251607000114, 23.75..."
626,GS,Gansu,"(98.24581749937812, 98.51520674009896, 98.5715...","(40.52452932456873, 40.533546860898895, 40.540..."

In [4]:
# Clean-up 'postal' codes from Natural Earth to match 'alpha' in unified.csv
map_data.loc[map_data[map_data.woe_name == 'Hubei'].index[0], 'postal'] = 'HB'
map_data.loc[map_data[map_data.woe_name == 'Shaanxi'].index[0], 'postal'] = 'SN'

In [5]:
# Merge and drop the columns we don't want
province_map_data = coded.merge(map_data, left_on='alpha', right_on='postal')
province_map_data = province_map_data.drop(['woe_name', 'postal', 'latitude', 'longitude', 'level', 'name_pinyin'], axis=1)

In [6]:
# Save to hdf and json
province_map_data.to_json('../data/province_map_data.json')
province_map_data.to_hdf('../data/province_map_data.hdf', 'df')

/opt/miniconda/envs/cge-tools/lib/python3.4/site-packages/pandas/io/pytables.py:2559: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block1_values] [items->['name_zh', 'name_en', 'alpha', 'xs', 'ys']]

  warnings.warn(ws, PerformanceWarning)